.container {
  background-color: rgb(236, 232, 225);
  width: 80%;
  margin: auto;
  border-radius: 20px;
  padding: 50px;
}

.mat-elevation-z8.container table {
  background-color: rgb(236, 232, 225);
}
