<form [formGroup]="skillForm" (ngSubmit)="onSubmit()" class="container">
  <h1>Ajouter une nouvelle compétence</h1>

  <div>
    <label for="name" class="label">Nom :</label>
    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      class="input"
      required
    />
  </div>
  <br />

  <div>
    <label for="name" class="label">Description :</label>
    <textarea
      id="description"
      name="description"
      formControlName="description"
      class="input"
      required
    ></textarea>
  </div>
  <br />

  <button type="submit" class="submit">Ajouter</button>
</form>
