<form [formGroup]="characterForm" (ngSubmit)="onSubmit()" class="container">
  <h1>Ajouter un nouveau personnage</h1>

  <div>
    <label for="name" class="label">Nom :</label><br />
    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      class="input"
      required
    />
  </div>
  <br />

  <div>
    <label for="role" class="label">Rôle :</label><br />
    <select id="role" name="role" formControlName="role" class="input" required>
      <option value="Duelliste">Duelliste</option>
      <option value="Contrôleur">Contrôleur</option>
      <option value="Sentinelle">Sentinelle</option>
      <option value="Initiateur">Initiateur</option>
    </select>
  </div>
  <br />

  <div>
    <label class="label">Compétence 1 :</label><br />
    <select (change)="onSelectSkill1($event)" name="skill1" class="input">
      <option value="">Sélectionner une compétence</option>
      <option *ngFor="let skill of skills$ | async" [value]="skill.id">
        {{ skill.name }}
      </option>
    </select>
  </div>
  <br />

  <div>
    <label class="label">Compétence 2 :</label><br />
    <select (change)="onSelectSkill2($event)" name="skill2" class="input">
      <option value="">Sélectionner une compétence</option>
      <option *ngFor="let skill of skills$ | async" [value]="skill.id">
        {{ skill.name }}
      </option>
    </select>
  </div>
  <br />

  <div>
    <label class="label">Compétence 3 :</label><br />
    <select (change)="onSelectSkill3($event)" name="skill3" class="input">
      <option value="">Sélectionner une compétence</option>
      <option *ngFor="let skill of skills$ | async" [value]="skill.id">
        {{ skill.name }}
      </option>
    </select>
  </div>
  <br />

  <button type="submit" class="submit">Ajouter</button>
</form>
